body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    border: 0;
  }
  
  header {
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    padding-top: 0;
  }
